HIFT-JIS
UTF-8
.python-version
secret.json
twitter/secret.json
twitter/wikipedia_title.dic
wikipedia.db
jawiki-latest-*
wiki_text.txt
wiki_text*
sample*
data.txt
text.txt
wiki_text.txt
jawiki-latest-pages-articles-multistream.xml
