HIFT-JIS
UTF-8
.python-version
secret.json
twitter/secret.json
twitter/wikipedia_title.dic
wikipedia.db
jawiki-latest-abstract.xml
jawiki-latest-pages-articles1.xml
wiki_text.txt
sample.model
sample.model.syn0.npy
sample.model.syn1neg.npy
data.txt
text.txt
wiki_text.txt
